.swiper {
  width: 100%;
  height: 100%;
}

/* .swiper-slide { */
  /* text-align: center;
  font-size: 18px; */

  /* Center slide text vertically */
  /* display: flex;
  justify-content: center;
  align-items: center; */
/* } */

.swiper-slide {
  width: 80%;
}

.swiper-slide:nth-child(2n) {
  width: 60%;
}

.swiper-slide:nth-child(3n) {
  width: 40%;
}

.swiper-pagination-bullet {
  background-color: white;
  /* opacity: 0.3; */
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: red;
  opacity: 1;
}
