::-webkit-scrollbar {
  height: 6px;
  width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 5px;
    height: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #e2e2e2;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.side-nav-items:hover::-webkit-scrollbar-thumb{
    background-color: #e2e2e2;
}
.main-page::-webkit-scrollbar-thumb{
   background-color: #a0a0a0;
}